 html, body {
  left: 0px;
  right: 0px;
  margin-left: 0px;
  width: 100% !important;
  display: block !important;
  background-color: #f6f6ef;
  font-family: Verdana, Geneva, sans-serif;
  height: fit-content;
  overflow-x: hidden;
}

.rahn-root {
  width: 100%;
  margin-left: -10px;
}

div.error #title,
div.error #title a {
  color: grey;
  padding-top: 0px;
}

.rahn-header {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.rahn-header .icon svg {
  height: 35px;
  width: auto;
  margin-right: 5px;
}

.rahn-header div {
  width: fit-content;
  display: inline-block;
  vertical-align: top;
}

.rahn-header #title a,
.rahn-header #title {
  font-size: 12pt;
  color: black;
  margin-bottom: 2px;
  margin-top: 0px;
}

.rahn-header #title a:visited {
  color: grey;
}

.rahn-header #subtitle a,
.rahn-header #subtitle {
  font-size: 10pt;
  color: grey;
  padding: 0;
  margin-top: 0;
  margin-right: 6px;
  margin-bottom: 0;
}

.rahn-child {
  margin-left: 10px;
  padding: 10px;
  padding-top: 5px;
  right: 0px;
  left: 0px;
  position: relative;
  font-size: 9pt;
  overflow: hidden;
  padding-bottom: 0px;
}

.rahn-content {
  margin-bottom: -10px;
}

.rahn-content a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.rahn-meta, .rahn-author {
  color: grey;
}

.rahn-author {
  margin-right: 7px;
}

.rahn-child p {
  margin-top: 5px;
}

.rahn-child pre {
  color: black;
  overflow-x: scroll;
  background-color: #f7f7f7;
}

